{{>header}}
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-lg-6">
            <p class="fs-4">
                {{username}}님, 반갑습니다.&nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="/" role="button">Sign Out</a>
            </p>
        </div>
    </div>
    <div>
        <div class="col-lg-6">
            <form action="/addtodo" method="post" class="row g-3 needs-validation" novalidate>
                <input type="text" name="todo" class="form-control mt-5 pt-2" placeholder="to-do" aria-label="to-do" required>
                <div class="invalid-feedback">
                    Please provide a valid to-do.
                </div>
                <input type="hidden" name="userid" value={{userid}} class="form-control mt-5 pt-2" placeholder="to-do" aria-label="to-do" required>
                <button type="submit" class="btn btn-primary mt-5" id="submitButton">add</button>
            </form>
        </div>
        <div class="col-lg-6 mt-5">
            <ul>{{#todos}}</ul>
                <li>
<!--                      <input type="hidden" value="{{id}}" name="todoid">-->
                    {{#done}}
                      <del>{{todo}}</del>
                      <input type="button" onclick="OnDoneButtonClick({{id}}, {{userid}}, 0)" class="chk-button">
                    {{/done}}

                    {{^done}}
                      {{todo}}
                      <input type="button" onclick="OnDoneButtonClick({{id}}, {{userid}}, 1)" class="none-chk-button">
                    {{/done}}
                </li>
            <ul>{{/todos}}</ul>
        </div>
    </div>

</div>


<script>
function OnDoneButtonClick(id, userid, done) {
  console.log(id);
  console.log(userid);
  console.log(document.location.href);
  pos = document.location.href.lastIndexOf('/');  // 현재 위치한 url 문자열에서 뒤에서부터 '/'를 찾는다
  url = document.location.href.substr(0, pos);    // url변수에 포트번호까지만 잘라낸다

  url = url + '/updatetodo' + '?id=' + id + '&userid=' + userid + '&done=' + done;   // 업데이트를 호출할 url을 만든다
  console.log(url);

  window.location=url;    // 위에서 만든 update url을 호출한다!!!
}




</script>


{{>footer}}